@model EntitiesLayer.CustomersEL

@{
    ViewBag.Title = "ActiveCustomersDown";
    Layout = "~/Views/MasterIntranet.cshtml";
}

<h2>Activar Cliente</h2>

<h3>Estas apunto de Activar al Cliente</h3>
<div>
    <form method="post">

        <dl class="dl-horizontal">
            <dt hidden>
                ID:
            </dt>

            <dd hidden>
                <input type="hidden" name="lblId" value="@Html.DisplayFor(model => model.idCliente)" />
            </dd>

            <dt>
                NOMBRE:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCli)
            </dd>

            <dt>
                APELLIDOS:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidoCli)
            </dd>

            <dt>
                TELEFONO:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefonoCli)
            </dd>

            <dt>
                DNI:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dniCli)
            </dd>

            <dt>
                CORREO:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correoCli)
            </dd>

            <dt>
                USUARIO:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuarioCli)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Activar" class="btn btn-success" name="btnActivar" /> |
                @Html.ActionLink("Regresar", "CustomersDown")
            </div>
        }

    </form>
</div>
